@import 
    "./utils/variables",
    "./utils/functions",
    "./utils/mixins",
    "./utils/anims";

@import 
    "./vendors/normalize";

@import 
    "./base/base";

@import 
    "./components/buttons";

@import 
    "./layouts/header",
    "./layouts/footer";

@import 
    "./pages/index",
    "./pages/restaurant";
