/* #region  ------------------------------------------   Animations  ----------------------------*/
// loader 1: "conteneur" qui gère le zoom et le déplacement de la boite contenant "Ohmyfood" 
@keyframes loader1{
    0%{
        z-index: 99;
        opacity: 1;
    }
    80%{
        opacity: 1;
        transform:scale(10);
    }
    90%{
        opacity: 1;
        transform:scale(10);
    }
    95%{
        opacity: 1;
        transform:scale(10);
    }
    99.99%{
        opacity: 0;
        transform: translateY(-45%);
        z-index: 99;
    }
    100%{
        opacity: 0;
        transform: translateY(-45%);
        z-index: -99;
    }
}
// 2eme partie du loader1 : fait tourner ohmyfood en "3D" 
@keyframes flip{

    0% {    
        opacity:0;
        transform: perspective(400px) rotateY(0);
        animation-timing-function: ease-out;
    }   
    10% {    
            opacity:1;
            transform: perspective(400px) rotateY(0);
            animation-timing-function: ease-out;
    }
    45% {   
            opacity:1;
            transform: perspective(400px) translateZ(150px) rotateY(170deg);
            animation-timing-function: ease-out;
    }
    55% {
            opacity:1;
            transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
            animation-timing-function: ease-in;
    }
    85% {   
            opacity:1;
            transform: perspective(400px) rotateY(360deg) scale(.95);
            animation-timing-function: ease-in;
    }
    100% {
            opacity:1;
            transform: perspective(400px) scale(1);
            animation-timing-function: ease-in;
    }

} 
//loarder2 : conteneur qui gère l'apparition des bulles
@keyframes loader2{
    0%{ 
        z-index: 100;
        opacity: 0;
    }
    10%{ 
        z-index: 100;
        opacity: 1;
    }
    95%{
        z-index: 100;
        opacity: 1;
    }
    99%{
        z-index: 100;
        opacity: 0;
    }
    100%{
        opacity: 0;
        z-index: -99;

    }
}
// 2eme partie du loader2 qui anime les bulles
@keyframes slide{
    0%{ opacity: 1;
        transform: scale(1);
    }
 
    50%{
        opacity: 0.3;
        transform: scale(2);
    }
    100%{
        opacity: 1;
        transform: scale(1);

    }
}
 
  
// remplissage progressif du coeur
@keyframes heart-anim{
    0%{
        opacity: 0;
        transform:scale(0);
    }
    80%{
        opacity: 1;
        transform:scale(1.3);
    }
    100%{
        opacity: 1;
        transform:scale(1.05);
    }
}
// animation forcée pour pallier au pb d'initialisation sur firefox (sinon gère mal le 1er click dans certains cas)
@keyframes init-anim-moz{
    0%{
        opacity: 0.01;
    }
    100%{
        opacity: 0;
    }
}
// rotation de l'icone checkbox
@keyframes rotation-anim{
    0%{
        transform:rotate(0deg);
        
    }
    100%{
        transform:rotate(360deg);
    }
}

// apparition progressive des plats
@keyframes fade-in-anim{
    0%{
        opacity: 0;
        transform:translateY(1rem);
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform:translateY(0);
    }
}
/* #endregion  ---------------------------------------   Animations ----------------------------*/