@mixin shadow-light {
    box-shadow: 0px 4px 9px $color-n4-dk1;
}
@mixin shadow-dark {
    box-shadow: 0px 4px 9px $color-n4-dk2;
}

@mixin transition-std {
    transition: all 250ms 100ms;
}
@mixin btn-common {
    cursor: pointer;
    border:none;
    @include transition-std;
}

//mediaqueries
@mixin small-screen {
    @media screen and (min-width: map-get($breakpoints, screen-s)) { 
        @content;
    }
}
@mixin medium-screen {
    @media screen and (min-width: map-get($breakpoints, screen-m)) { 
        @content;
    }
}
@mixin large-screen {
    @media screen and (min-width: map-get($breakpoints, screen-l)) { 
        @content;
    }
}
@mixin xxlarge-screen {
    @media screen and (min-width: map-get($breakpoints, screen-xxl)) { 
        @content;
    }
}