//couleurs principales du site
$color-n1:#9356DC;
$color-n2:#FF79DA;
$color-n3:#99E2D0;

//autres couleurs : couleurs dérivées, back-grounds grisés etc
$color-n1-light: lighten($color-n1,35%) ;
$color-n4:#eaeaea;
$color-n4-dk1:darken($color-n4,10%);
$color-n4-dk2:darken($color-n4,30%);
$color-n5:#F6F6F6;
$color-n6:#018867;
$color-n6-light: lighten($color-n6,60%) ;
$color-n7: #353535;

//transitions


//breakpoints
$breakpoints:(
    screen-xs: 320px,    
    screen-s:  576px,
    screen-m:  768px,
    screen-l:  992px,
    screen-xl: 1200px,
    screen-xxl:1440px
)