/* #region  ------------------------------------------    "Global"   + header  ----------------------------*/
/* ---- mes variables ---- appel : var(--nomVariable) */
:root{
    --bleu: #0065FC;

}

/* ---- box sizing ---- */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
main{
    width: 93%;
    margin:auto;
}
header {
    width: 93%;
	display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin:auto;
}
ul{
    list-style: none;
    padding: 0;
    margin:0;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover{
    color:var(--bleu);
}
h1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0;
}
h2 {
    font-size: 22px;
    font-weight: bold;
}
h3 {
    font-size: 16px;
    font-weight: bold;
}

/* #endregion  ------------------------------------------    "Global"          ----------------------------*/

/* #region  ------------------------------------------    region 1             ----------------------------*/
#section-recherche p {
    margin-top:10px
}
#barre-recherche {
    display: flex;
    font-size: 18px;
    margin-top:20px;
}
#icone-map {
    background-color: var(--gris);
    font-size: 20px;
    border-radius: 13px 0 0 13px;
}
#destination {
    width: 240px;
    border-top: 1px solid var(--gris);
    border-bottom: 1px solid var(--gris);
    border-left: none;
    border-right: none;
    padding-left: 15px;
    font-weight: bold;
    outline: none;
}
#destination::placeholder {
    color:black;
    opacity: 1; /* pour firefox qui baise l'opacité par défaut sur form*/
}
#bouton-rechercher {
    background-color: var(--bleu);
    color:white;
    border: none;
    border-radius: 0 13px 13px 0;
    padding:0;
    position:relative;  /* pour chevaucher légèrement la zone de gauche */
    right: 9px;         /* pour chevaucher légèrement la zone de gauche */         
}
#bouton-rechercher-texte {
    padding:15px;
    font-weight: 600;
}
/* par défaut en desktop on n'affiche pas la loupe (ce sera l'inverse pour le mobile)*/
#icone-loupe {
    display:none;
}
/* #endregion  ------------------------------------------    region 1               -----------------------*/


/* #region  ------------------------------------------    Pied de page         ----------------------------*/

footer{
    width: 100%;
}

/* #endregion  ------------------------------------------    Pied de page   -------------------------------*/

/* #region  ------------------------------------------    Mediaqueries         ----------------------------*/
/* #region  Tablette */
  /* ecrans moyens (ex:Tablette) */
@media all and (max-width: 992px) {
    #section-hebergements{
        flex-direction: column-reverse;
    } 
    #hebergements, #populaires{
        width: 100%;
        margin-bottom:2%;
    }
    #titre-populaires{
        margin: 20px 2% 5px;
    }
    #populaires .une-carte{
        margin:2%;
    } 
    #bloc-cartes-activites{
        height: auto;
    }
    .image-activite{
        height: 200px;   
    }
    .une-carte-activite{
        width: 100%;
        margin-bottom: 4%;
    }
    .une-carte-activite:last-child{
        margin-bottom: 0;
    }
}
/* #endregion Tablette */

/* #region  Smartphone */
  /* petits ecrans (ex:Smartphone) */
@media all and (max-width: 768px) {
      header {
        width: 100%;
        flex-direction: column;
        align-items: stretch;
    }
    main {
        width: 100%;
    }
    #logo{
        margin: auto;
        margin-bottom: 20px;
        padding: 20px 0 0 25px;
    }
    nav li{
            width: 50%;
    }
    nav a {
        padding: 10px;
        border-bottom: 3px solid var(--gris);
    }
    nav a:hover{
        border-bottom: 3px solid var(--bleu);
        border-top:none;
    }    
    #section-recherche, #section-activites{
        width: 91%;
        margin:auto;
        margin-top: 30px;
    }
    #bouton-rechercher{
        border-radius:13px;  
    }
    /* on fait réapparaitre la loupe et disparaitre le texte "rechercher" */
    #icone-loupe{
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    #bouton-rechercher-texte{
        display:none;
    }
    .icone-petite{
        font-size: 12px;
    }    
    .un-filtre{
        margin: 0px 10px 10px 0px;
    }    
    .texte-filtre{
        font-size: 16px;
    }
    .bloc-carte{
        flex-direction: column;
        justify-content: center;
    } 
    .une-carte{
        width: auto;
    }
    #populaires{
     border-radius: 0; 
    }
    #hebergements{
        background-color: white;
       }
    .image-activite{
        height: 140px;   
    }
    footer{
        flex-direction: column;
        width:  100%;
    }
    footer div{
        width:  100%;
    }
}
/* très petits ecrans (ex:ancien Smartphone) */
@media all and (max-width: 350px) {
    #logo{
        margin-bottom: 0;
    }
    #section-recherche, #section-activites{
        width: 96%;
        margin-top: 15px;
    }
    #destination{
        width: 100%;
        font-size: 14px;
    }
    /* #endregion  Smartphone */
}   
/* #endregion  ------------------------------------------    Mediaqueries  -------------------------------*/