/* ---- box sizing ---- */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    max-width: map-get($breakpoints, screen-xxl);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

main{
    width: 100%;
    margin:auto;
}

h1 {
    font-size: 1.5em;
    font-weight: bolder;
} 

ul, ol {
    list-style: none;
    padding: 0;
    margin:0;
}
a {
    text-decoration: none;
    color: inherit;
}