/* #region  --------------------------------------   page Index (Accueil)  ----------------------------*/

// partie recherche / localisation
.search-form{
    @include flex-column-jcenter;
    align-items: center;
    flex-wrap: wrap;
    background-color: $color-n5;

    // "barre" de recherche
    &__bar{
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-n4;
        background: linear-gradient(to top, $color-n4 90%, $color-n4-dk1 100%);
        &--icone{
            margin-right: 1.7rem;
            font-size: 1.3rem;
        }
        &--text{
            background-color:inherit;
            border:none;
            width: 10rem;
            font-weight: bold;
        }
    }
      // informations sur la société + bouton explorer
    &__info-submit{
        margin: 2rem 10%;
        @include flex-column-jcenter;
        align-items:center;
        text-align: center;
        // responsive
        @include medium-screen {
            flex-direction: row;
            justify-content: space-between;
            text-align:left;
            width: 90%;
            margin:2rem;  
        }
        @include large-screen {
            flex-direction: row;
            justify-content: space-around;
            text-align:center; 
        }
        p {
            margin: 0;
        }
    }
}

// partie fonctionnement par étapes
.fonctionnement {
    width: 90%;
    margin: 3rem auto;
    &__ol {
        // responsive
        @include large-screen {
            display:flex;
            justify-content: space-between;
        }
    }
}

// liste des étapes affichées sous formes de boutons avec le N° d'étape intégré au bord gauche
.fonctionnement__li {
    counter-increment: list-counter;
    @include flex-column;
    align-items:center;
    margin: 1.5rem 0 1.5rem 0.8rem;
    // responsive
    @include large-screen {
        width: 31%;
    }
    &:hover {
        i {
            color:$color-n1; 
        }
        button{
            background-color: $color-n1-light;
            @include shadow-dark;
        }
    }
    button {
        display:flex;
        justify-content: flex-start;
        align-items:center;
        width: 100%;
        height: 5rem;
        border-radius: 1.5rem;
        font-weight: bold;
        background-color: $color-n5;
        padding-right: 1.5rem;
        @include btn-common;
        // ajout du n° d'étape sur le bord gauche du bouton
        &::before {
            content: counter(list-counter);
            font-weight: bold;
            font-size: smaller;
            color: white ;
            background-color: $color-n1;
            border-radius: 1.5rem;
            width: 1.5rem;
            height: 1.5rem;
            display:flex;
            justify-content: center;
            align-items:center;
            position: relative; //pour aligner sur le bord du bouton
            right:1.2rem; //pour aligner sur le bord du bouton
    }
    i{
        color:$color-n4-dk2;
        margin-right: 2rem;
        @include transition-std;
    }
  }
} 
// partie listant les restaurants
.restaurants-section{
    background-color: $color-n5;
    h1 {
        width: 90%;
        margin: auto;
        padding: 3rem 0 1.5rem 0;
    }
} 
.restaurants-block{
    width: 90%;
    margin: auto;
    @include flex-column;
    align-items:center;
    flex-wrap: wrap;
    padding-bottom: 3rem;
    //responsive
    @include medium-screen {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1.5rem;
    }
    article {
        width: 100%;       
    }
}
// les cartes Restaurant
.restaurant{
    margin-bottom: 1.5rem;
    position:relative;

    figure {
        @include flex-column;
        position: relative;
        margin: 0;
    }
    &__img{
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
    }
    // tag "nouveau" mis en haut à droite de l'image
    &__img-new{
        position:absolute;
        top:5%;
        right:5%;
        color:$color-n6;
        background-color: $color-n6-light;
        border-radius:0.2em;
        padding:0.5em;
        font-size: smaller;
        font-weight: bold;
    }
    &__legend{
        display:flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-radius: 0 0 20px 20px;
        padding: 1.5rem 2rem 0.5rem 1rem;
    }
    &__description > * {
        margin: 0 0 0.5rem 0 ;
    }
    // parties gestion du coup de coeur/like
    // superposition de 2 icones: 1 icone coeur vide surplombée par 1 icone coeur remplie transparente. L'icone remplie devient opaque quand elle est cochée.
    &__heart-position {
        position: absolute;
        bottom:1.7rem;
        right:2rem;
    }
   &__heart{
       // gestion commune du coup de coeur / like
        @include heart-common;
   }
    
}
/* #endregion  --------------------------------------   page Index (Accueil)  ----------------------------*/